.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    background-position: center;
    background-size: cover;
    background-image: url("../../assets/images/background-2.png");

    font-size: 60px;
}
